/*Header*/

h1 {
  margin: 20px;
  margin-bottom: 40px;
  font-size: 60px;
}

.id-client{
    margin-top: 20px;
    margin-left: 20px;
}

.id-client #calculate{
    margin-left: 20px;
}

.info-purchase{
}


.align-middle {
  vertical-align: middle;
}
.container {
  width: 100%;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.border-gray-200 {
  --border-opacity: 1;
  border-color: #edf2f7;
  border-color: rgba(237, 242, 247, var(--border-opacity));
}
.border-b {
  border-bottom-width: 1px;
}
.bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}
.info-purchase {
  margin: 20px;
}
.flex {
  width: max-content;
  text-align: center;
  margin: 0 auto;
}
.leading-4 {
  line-height: 1rem;
}
.min-w-full {
  min-width: 80%;
}

.text-left {
  text-align: left;
}
.text-xs {
  font-size: 1rem;
}
.text-gray-600 {
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.whitespace-no-wrap {
  white-space: nowrap;
}
